body {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  background-color: #92e59c;
}

.column {
  width: 18%;
  float: left;
  margin: 1%;
}

.column img {
  width: 95%;
  border: 5px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 65px;
  margin: 10px;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

.column p {
  text-align: justify;
}
